
ion-content > ion-list{
	position: relative;
	top: 45%;
}
ion-item{
    --color: #759e33ff;
}
ion-button{
    --background: #759e33ff;
}

p{
	--color: #759e33ff;
}

ion-text {
	color: #759e33ff;
    font-size: 0.8rem;
}