<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <img src="../../assets/icon2.png">
          </div>
          <div padding>
            <ion-item>
              <ion-input name="text" type="text" placeholder="NIK" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Kata sandi" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="medium" type="submit" [disabled]="form.invalid" expand="block" routerLink='/tabs'>Masuk</ion-button>
          </div>
          <div padding>
            <ion-button size="medium" type="submit"  expand="block" routerLink='/daftar'>Daftar</ion-button>
          </div>
          <ion-row>
          <div text-center>
       <ion-text routerLink='/lupa'> Lupa Kata Sandi ? </ion-text>
          </div>
      </ion-row>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>