<ion-header [translucent]="true">
  <ion-toolbar class="tabs-color">
    <ion-title *ngIf="!isSearchbarOpened">
     <a routerLink="/tabs"> <img src="../../assets/mini.png"> </a>
   </ion-title>
   <ion-buttons slot="end">
    <ion-icon name="search" size="big" color="light" *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true"></ion-icon>
  </ion-buttons>
  <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>

</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div>
   <ion-item-divider>
    <ion-text>
    Kategori
   </ion-text>
 </ion-item-divider> 


    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-badge color="light">Terbaru</ion-badge>
        </ion-col>
        <ion-col size="3">
          <ion-badge color="light">APBD</ion-badge>
        </ion-col>
        <ion-col size="3">
          <ion-badge color="light">Donasi</ion-badge>
        </ion-col>
        <ion-col size="3">
          <ion-badge color="light">Bantuan</ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
<ion-list>
  <ion-card routerLink="/detail-berita">
    <img src="../../assets/desa1.jpg"> <br>
    <ion-card-header>
      <ion-card-subtitle>Kategori : PILKADA</ion-card-subtitle><br>
      <h3>PILKADA 2020</h3>
    </ion-card-header>
    <ion-card-content>
      <h5>Pelaksanaan PILKADA Tahun 2020 berolkasi di Kantor Kepala Desa Patemon untuk itu...</h5>
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/detail-berita">
    <img src="../../assets/desa2.jpg"> <br>
    <ion-card-header>
      <ion-card-subtitle>Kategori : COVID-19</ion-card-subtitle>
      <h3>COVID-19</h3>
    </ion-card-header>
    <ion-card-content>
      <h5>Pelaksanaan PILKADA Tahun 2020 berolkasi di Kantor Kepala Desa Patemon untuk itu...</h5>
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/detail-berita">
    <img src="../../assets/desa3.jpg"> <br>
    <ion-card-header>
      <ion-card-subtitle>Kategori : APBD</ion-card-subtitle>
      <h3>Dana APBD Penyaluran</h3>
    </ion-card-header>
    <ion-card-content>
      <h5>Pelaksanaan PILKADA Tahun 2020 berolkasi di Kantor Kepala Desa Patemon untuk itu...</h5>
    </ion-card-content>
  </ion-card>

</ion-list>

<!-- fab placed to the bottom end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button class="tabs-color" routerLink="/chat">
    <ion-icon name="chatbubbles"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>


