<ion-header [translucent]="true">
  <ion-toolbar class="tabs-color">
    <ion-title *ngIf="!isSearchbarOpened">
     <a routerLink="/tabs"> <img src="../../assets/mini.png"> </a>
   </ion-title>
   <ion-buttons slot="end">
    <ion-icon slot="start" name="search" size="medium" color="light" *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true"></ion-icon>
  </ion-buttons>
  <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>

</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-divider>
    <ion-text>
     Dokumentasi desa
   </ion-text>
 </ion-item-divider>

 <div class="headline">
  <ion-list no-lines>
    <ion-item>
      <ion-slides autoplay="2500" loop="true" pager color="secondary">
        <ion-slide>
          <img src="../../assets/desa3.jpg"/>
          <div class="card-title">Pengumuman</div>
          <div class="card-subtitle">64 Berita</div>
        </ion-slide>
        <ion-slide>
          <img src="../../assets/desa3.jpg"/>
          <div class="card-title">Kegiatan</div>
          <div class="card-subtitle">64 Berita</div>
        </ion-slide>
        <ion-slide>
          <img src="../../assets/desa3.jpg"/>
          <div class="card-title">Laporan</div>
          <div class="card-subtitle">64 Laporan</div>
        </ion-slide>
      </ion-slides>
    </ion-item>
  </ion-list>
</div>

<ion-segment scrollable [(ngModel)]="yudsegment">
  <ion-segment-button value="1">
    <ion-label>Terbaru</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2">
    <ion-label>Populer</ion-label>
  </ion-segment-button>
  <ion-segment-button value="3">
    <ion-label>COVID-19</ion-label>
  </ion-segment-button>
  <ion-segment-button value="4">
    <ion-label>PILKADA</ion-label>
  </ion-segment-button>
</ion-segment>
<div *ngIf="yudsegment == '1'">
  <ion-list>
   <ion-item-divider>
    <ion-label>
      Berita Terbaru
    </ion-label>
  </ion-item-divider>
  <ion-item>
   <ion-thumbnail slot="start">
    <img src="../../assets/desa2.jpg">
  </ion-thumbnail>
  <ion-label>
    <h4> Pemilihan PILKADA 2020 Ditunda sampai tanggal 12 Agustus 2020</h4 >
    <p> Dikarenakan adanya covid-19 pelaksanaan pemilihan kepala desa patemon ditunda hingga waktu yang telah ditentukan..</p>
  </ion-label>
 <ion-button slot="end" routerLink="/detail-berita">Lihat</ion-button>
</ion-item>
<ion-item>
 <ion-thumbnail slot="start">
  <img src="../../assets/desa3.jpg">
</ion-thumbnail>
<ion-label>
  <h4> Kegiatan Bakti Sosial akan diadakan</h4>
  <p> pelanaan bakti sosial desa patemon ditunda hingga waktu yang telah ditentukan..</p>
</ion-label>
<ion-button slot="end" routerLink="/detail-berita">Lihat</ion-button>
</ion-item>
<ion-item>
 <ion-thumbnail slot="start">
  <img src="../../assets/desa1.jpg">
</ion-thumbnail>
<ion-label>
  <h4> PILKADA 2020 Ditunda sampai tanggal 12 Agustus 2020</h4>
  <p> Dikarenakan adanya covid-19 pelaksanaan pemilihan kepala desa patemon ditunda hingga waktu yang telah ditentukan..</p>
</ion-label>
<ion-button slot="end" routerLink="/detail-berita">Lihat</ion-button>
</ion-item>
<ion-item>
 <ion-thumbnail slot="start">
  <img src="../../assets/desa3.jpg">
</ion-thumbnail>
<ion-label>
  <h4> Kegiatan Bakti Sosial akan diadakan</h4>
  <p> pelanaan bakti sosial desa patemon ditunda hingga waktu yang telah ditentukan..</p>
</ion-label>
<ion-button slot="end" routerLink="/detail-berita">Lihat</ion-button>
</ion-item>
<ion-item>
 <ion-thumbnail slot="start">
  <img src="../../assets/desa2.jpg">
</ion-thumbnail>
<ion-label>
  <h4> Kegiatan Bakti Sosial akan diadakan</h4>
  <p> pelanaan bakti sosial desa patemon ditunda hingga waktu yang telah ditentukan..</p>
</ion-label>
<ion-button slot="end" routerLink="/detail-berita">Lihat</ion-button>
</ion-item>
</ion-list>
</div>
<div *ngIf="yudsegment == '2'">
  <ion-list>
   <ion-item-divider>
    <ion-label>
      Berita Populer
    </ion-label>
  </ion-item-divider>
  <ion-item>
   <ion-thumbnail slot="start">
    <img src="../../assets/desa1.jpg">
  </ion-thumbnail>
  <ion-label>
    <h4> Pemilihan PILKADA 2020 Ditunda sampai tanggal 12 Agustus 2020</h4 >
    <p> Dikarenakan adanya covid-19 pelaksanaan pemilihan kepala desa patemon ditunda hingga waktu yang telah ditentukan..</p>
  </ion-label>
  <ion-button slot="end" routerLink="/detail-berita">Lihat</ion-button>
</ion-item>
<ion-item>
 <ion-thumbnail slot="start">
  <img src="../../assets/desa2.jpg">
</ion-thumbnail>
<ion-label>
  <h4> Kegiatan Bakti Sosial akan diadakan</h4>
  <p> pelanaan bakti sosial desa patemon ditunda hingga waktu yang telah ditentukan..</p>
</ion-label>
<ion-button slot="end" routerLink="/detail-berita">Lihat</ion-button>
</ion-item>
<ion-item>
 <ion-thumbnail slot="start">
  <img src="../../assets/desa1.jpg">
</ion-thumbnail>
<ion-label>
  <h4> PILKADA 2020 Ditunda sampai tanggal 12 Agustus 2020</h4>
  <p> Dikarenakan adanya covid-19 pelaksanaan pemilihan kepala desa patemon ditunda hingga waktu yang telah ditentukan..</p>
</ion-label>
<ion-button slot="end" routerLink="/detail-berita">Lihat</ion-button>
</ion-item>
<ion-item>
 <ion-thumbnail slot="start">
  <img src="../../assets/desa3.jpg">
</ion-thumbnail>
<ion-label>
  <h4> Kegiatan Bakti Sosial akan diadakan</h4>
  <p> pelanaan bakti sosial desa patemon ditunda hingga waktu yang telah ditentukan..</p>
</ion-label>
<ion-button slot="end" routerLink="/detail-berita">Lihat</ion-button>
</ion-item>
<ion-item>
 <ion-thumbnail slot="start">
  <img src="../../assets/desa2.jpg">
</ion-thumbnail>
<ion-label>
  <h4> Kegiatan Bakti Sosial akan diadakan</h4>
  <p> pelanaan bakti sosial desa patemon ditunda hingga waktu yang telah ditentukan..</p>
</ion-label>
<ion-button slot="end" routerLink="/detail-berita">Lihat</ion-button>
</ion-item>
</ion-list>
</div>
<div *ngIf="yudsegment == '3'">
  <ion-list>
   <ion-item-divider>
    <ion-label>
      Berita COVID-19
    </ion-label>
  </ion-item-divider>
  <ion-item>
   <ion-thumbnail slot="start">
    <img src="../../assets/desa3.jpg">
  </ion-thumbnail>
  <ion-label>
    <h4> Pemilihan PILKADA 2020 Ditunda sampai tanggal 12 Agustus 2020</h4 >
    <p> Dikarenakan adanya covid-19 pelaksanaan pemilihan kepala desa patemon ditunda hingga waktu yang telah ditentukan..</p>
  </ion-label>
<ion-button slot="end" routerLink="/detail-berita">Lihat</ion-button>
</ion-item>
<ion-item>
 <ion-thumbnail slot="start">
  <img src="../../assets/desa2.jpg">
</ion-thumbnail>
<ion-label>
  <h4> Kegiatan Bakti Sosial akan diadakan</h4>
  <p> pelanaan bakti sosial desa patemon ditunda hingga waktu yang telah ditentukan..</p>
</ion-label>
<ion-button slot="end" routerLink="/detail-berita">Lihat</ion-button>
</ion-item>
<ion-item>
 <ion-thumbnail slot="start">
  <img src="../../assets/desa1.jpg">
</ion-thumbnail>
<ion-label>
  <h4> PILKADA 2020 Ditunda sampai tanggal 12 Agustus 2020</h4>
  <p> Dikarenakan adanya covid-19 pelaksanaan pemilihan kepala desa patemon ditunda hingga waktu yang telah ditentukan..</p>
</ion-label>
<ion-button slot="end" routerLink="/detail-berita">Lihat</ion-button>
</ion-item>
<ion-item>
 <ion-thumbnail slot="start">
  <img src="../../assets/desa3.jpg">
</ion-thumbnail>
<ion-label routerLink="/detail-berita">
  <h4> Kegiatan Bakti Sosial akan diadakan</h4>
  <p> pelanaan bakti sosial desa patemon ditunda hingga waktu yang telah ditentukan..</p>
</ion-label>
<ion-button slot="end" routerLink="/detail-berita">Lihat</ion-button>
</ion-item>
<ion-item>
 <ion-thumbnail slot="start">
  <img src="../../assets/desa2.jpg">
</ion-thumbnail>
<ion-label>
  <h4> Kegiatan Bakti Sosial akan diadakan</h4>
  <p> pelanaan bakti sosial desa patemon ditunda hingga waktu yang telah ditentukan..</p>
</ion-label>
<ion-button slot="end" routerLink="/detail-berita">Lihat</ion-button>
</ion-item>
</ion-list>
</div>
<div *ngIf="yudsegment == '4'">
  <ion-list>
   <ion-item-divider>
    <ion-label>
      Berita PILKADA
    </ion-label>
  </ion-item-divider>
  <ion-item>
   <ion-thumbnail slot="start">
    <img src="../../assets/desa1.jpg">
  </ion-thumbnail>
  <ion-label>
    <h4> Pemilihan PILKADA 2020 Ditunda sampai tanggal 12 Agustus 2020</h4 >
    <p> Dikarenakan adanya covid-19 pelaksanaan pemilihan kepala desa patemon ditunda hingga waktu yang telah ditentukan..</p>
  </ion-label>
 <ion-button slot="end" routerLink="/detail-berita">Lihat</ion-button>
</ion-item>
<ion-item>
 <ion-thumbnail slot="start">
  <img src="../../assets/desa2.jpg">
</ion-thumbnail>
<ion-label>
  <h4> Kegiatan Bakti Sosial akan diadakan</h4>
  <p> pelanaan bakti sosial desa patemon ditunda hingga waktu yang telah ditentukan..</p>
</ion-label>
<ion-button slot="end" routerLink="/detail-berita">Lihat</ion-button>
</ion-item>
</ion-list>
</div>

<!-- Item Dividers in a List -->
<ion-list>

</ion-list>
<!-- fab placed to the bottom end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button class="tabs-color" routerLink="/chat">
    <ion-icon name="chatbubbles"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>


