<ion-header [translucent]="true">
  <ion-toolbar class="tabs-color">
    <ion-title *ngIf="!isSearchbarOpened">
       <a routerLink="/tabs"> <img src="../../assets/mini.png"> </a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="search" size="medium" color="light" *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true"></ion-icon>
    </ion-buttons>
    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
        
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
</ion-list>
</ion-content>


