<ion-header>
  <ion-toolbar class="tabs-color">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">PILKADA 2020</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <img src="../../assets/desa1.jpg" style="width:100">
 <ion-grid>
  <ion-row>
    <ion-col class="ion-padding">
      <h3>
        <strong>
          PILKADA 2020 diundur hingga bulan Agustus
        </strong>
      </h3>
      <p style="color:#888;">Oleh : Hudzaifah Saiful Haq <br>
        Diposting Tanggal : 23 Maret 2020
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-padding">
     <div>
      Komisi Pemilihan Umum (KPU) terus mematangkan penerapan protokol kesehatan Covid-19 dalam Pemilihan Kepala Daerah (Pilkada) 2020 untuk para pemilih. Salah satunya wajib membawa alat pelindung diri (APD), seperti masker.
      <br><br>
      Komisioner KPU Ilham Saputra mengatakan, bahwa pihaknya telah menyediakan 20 persen masker dari jumlah pemilih tetap (DPT) di setiap tempat pemungutan suara (TPS). 
      <br><br>
      "Masyarakat juga wajib membawa APD. Kami juga menyiapkan 20 persen masker jika ada masyarakat yang tidak membawa masker," kata Ilham dalam diskusi Polemik, Sabtu (25/7/2020).
      <br><br>
      Dia menegaskan, semuanya ini sudah diperhitungkan dan dilakukan melalui simulasi pencoblosan oleh pihaknya.
      <br><br>
      "Orang kita beri batas saat mengantre, undangan kita bagi waktunya agar tidak berkerumun, dan petugas dilengkapi APD," ungkap Ilham. 
    </div>
  </ion-col>
</ion-row>
</ion-grid>

</ion-content>
