.md-content-scroll .mbsc-fr-c {
    height: 400px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.md-content-scroll .mbsc-popup {
    filter: blur(8px);
}

mbsc-btn-group-block{
    --background: #759e33ff;
}

ion-text {
	color: #759e33ff;
    font-size: 0.8rem;
}
ion-button{
    --background: #759e33ff;
}

ion-item{
    --color: #759e33ff;
}
